/* Default Styling */
* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-decoration: none;
}

/* Navigation Section Styling  */

.navigation-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #faecdf;
	padding: 15px 150px;
}
.logo h1 {
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	color: #fb6b58;
}

.menu a {
	padding: 5px 20px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	color: #fb6b58;
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
}
.menu a:hover {
	background-color: white;
	color: #fb6b58;
	transition: all 0.4s ease-in-out;
}

.contact a {
	padding: 10px 30px;
	background-color: #fb6b58;
	color: white;
	text-decoration: none;
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
	transition: all 0.4s ease-in-out;
}

.contact a:hover {
	background-color: transparent;
	border: 3px solid #fb6b58;
	transition: all 0.4s ease-in-out;
	color: #fb6b58;
}

/* Hero Section Styling */
.hero,
.my-mission,
.develop,
.Community {
	padding: 80px 150px;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero-details {
	width: 60%;
}
.hero-image {
	width: 40%;
}
.hero-image img {
	width: 100%;
}

.hero-heading h1 {
	width: 503px;
	height: 160px;
	font-family: "Yeseva One", cursive;
	font-weight: 500;
	font-size: 60px;
	line-height: 80px;
	color: #333333;
}
.hero-details .side_border {
	width: 4px;
	height: 124px;
	background-color: #ff5959;
	border-radius: 5px;
	margin-right: 13px;
}
.hero-left-border {
	display: flex;

	align-items: center;
}
.hero-heading span,
.my-mission span {
	color: #ffad5a;
}

.hero-details p {
	width: 471px;
	height: 84px;
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #3e3e3e;
	margin-bottom: 30px;
	margin-top: 20px;
}
.hero-details a,
.develop-description a {
	background: #ff5959;
	border-radius: 5px;
	padding: 12px 37.5px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}
.hero-details .hero-para {
	width: 297px;
	height: 24px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #434343;
	margin-top: 50px;
}

/* My mission section styling  */
.my-mission h1 {
	width: 454px;
	height: 70px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 70px;
	text-align: center;
	color: #13103a;
}
.my-mission-heading {
	display: flex;
	justify-content: center;
	margin-bottom: 48px;
}
.missions {
	display: flex;
	justify-content: center;
	align-items: center;
}
.mission1,
.mission2,
.mission3 {
	width: 360px;
	height: 376px;
	border-radius: 26px;
	padding-top: 25px;
	padding-left: 32px;
}
.mission1 {
	background: rgba(79, 157, 166, 0.1);
}
.mission2 {
	background: rgba(255, 89, 89, 0.1);
	margin: 0px 24px;
}
.mission3 {
	background: #fff4d6;
}
.mission1 img,
.mission2 img,
.mission3 img {
	width: 141px;
	height: 141px;
	margin-bottom: 12px;
}

.mission1 h1,
.mission2 h1,
.mission3 h1 {
	width: 93px;
	height: 36px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #000000;
	margin-bottom: 16px;
}
.mission1 p,
.mission2 p,
.mission3 p {
	width: 315px;
	height: 101px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #424242;
}

/* Develop Section Styling  */
.develop {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(images/shape-dotted.png);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	padding: 80px 0px;
}
.develop-image img {
	width: 400px;
	height: 400px;
	margin-right: 72px;
}
.develop-description h1 {
	width: 435px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	color: #333333;
}
.develop-description p {
	width: 654px;
	height: 120px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #3e3e3e;
	margin-top: 20px;
	margin-bottom: 40px;
}
.develop-image,
.community-image {
	position: relative;
}
.develop-image .circle {
	width: 227px;
	height: 227px;
	position: absolute;
	left: -100px;
	top: 100px;
	z-index: -1;
}

.Community {
	display: flex;
}
.community-image img {
	width: 400px;
	height: 400px;
	margin-left: 72px;
}
.community-image {
	position: relative;
}
.community-image .circle {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 300px;
	top: 280px;
	z-index: -1;
}
