/* Default Styling */
* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
}

/* Navigation Section Styling  */

.navigation-menu {
	background-color: #fb6b58;
}
.logo h1 {
	font-size: 30px;
	color: whitesmoke;
}

.menu a {
	padding: 5px 20px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	color: whitesmoke;
}
.menu a:hover {
	background-color: white;
	color: #fb6b58;
	transition: all 0.4s ease-in-out;
}

.contact a {
	padding: 10px 30px;
	background-color: white;
	color: #fb6b58;
	text-decoration: none;
	font-weight: 700;
	transition: all 0.4s ease-in-out;
}

.contact a:hover {
	background-color: transparent;
	border: 2px solid white;
	transition: all 0.4s ease-in-out;
	color: white;
}
